<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show_Database</title>
    <style>
        a{
            font-size: 20px;
            color:whitesmoke;
            background-color: blue;
            text-decoration: none;
            
        }
    </style>
    
</head>
<body>
    <center>
        <h1>Id:soumya</h1>
        <h1>Password:12345</h1>

        <h1> Press click me and put given Id & Password</h1>
        <button style="background-color: blue;"><a href="{% url 'admin:index' %}">Click Me</a></button>
    </center>
</body>
</html>